# Maven
target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# Java
*.class
*.jar
*.war
*.log

# OS
.DS_Store
Thumbs.db

# Spring Boot
application-local.yml
application-local.properties